.stopwatch button{
  background-color: white;
  margin-top: 2%;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
}
#stop-watch-container{
  text-align: center;
}
#privado-header{
  font-size: 40px;
  font-weight: bold;
  margin: 2% auto 1%;
}
.stopwatch-display{
  font-size: 60px;
  font-weight: bold;
}
#color-red{
  color: red !important;
}
#color-default{
  color: black !important;
}